*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy-Regular",sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background:linear-gradient(30deg,rgb(21, 119, 231),rgb(0, 213, 255)) ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin-top: 20px;
}

#pages a{
    text-decoration: none;
    text-transform: capitalize;
    margin-right: 10px;
    font-size: 0.8rem;
    color: white;
}

#pages #getstarted{
    padding: 5px 7px;
    border: 1px solid white;
    border-radius: 3px;
}

#logo h2{
    color: white;
    font-size: 20px;

}

.main-container{
    height: 100%;
    width: 60%;
    display: flex;
    color: white;
    gap: 30px;
}

.main-container #main-context{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-container #login-detils{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-form{
    background-color: rgb(255, 255, 255);
    height: 270px;
    width: 250px;
    border-radius: 5px;
    box-shadow:-0.1em 0.1em 1.5em rgba(0, 0, 0, 0.568);
}

#main-context h2{
    font-size: 45px;
    margin: 5px 0px;
    font-weight: 100;
}

#main-context p{
    line-height: 1.5
}

#main-context a{
    margin-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid white;
    width: fit-content;
    padding: 6px 15px;
    border-radius: 20px;
    font-size: 8px;
    color: white;
    background-color: rgba(37, 216, 37, 0.861);
    letter-spacing: 1px;  
}

#login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#login-form h2{
    color: black;
    text-transform: capitalize;
    font-weight :100;
    font-size: 20px;
    margin: 10px;
}

#login-form input{
    width: 85%;
    height: 25px;
    margin-bottom: 7px;
    border: none;
    border-radius: 3px;
    padding: 5px;
    font-size: 10px;
    outline: none;
    background-color: rgba(91, 90, 90, 0.1);
}

#login-form select{
    width: 85%;
    border: none;
    height: 25px;
    background-color: rgba(91, 90, 90, 0.1);
    padding: 5px;
    border-radius: 3px;
    font-size: 10px
}

#login-form a{
    text-decoration: none;
    color: white;
    background-color: rgb(0, 166, 255);
    padding: 5px;
    border-radius: 20px;
    font-size: 12px;
    width: 85%;
    text-align: center;
    margin-top: 10px;
    box-shadow:0.1em 0.7em 1em rgba(0, 166, 255, 0.25);
}

